{% extends "base.html" %}

{% block whole_title %}{{ config['SITE_NAME'] }}{% endblock %}

{% block body %}
<div class="row">
  <div class="col-sm-12">
    <p>
      This site features a curated collection of categorized technical
      Subreddits. It is our hope that you find something new and interesting
      within!
    </p>
    <p>
      To see our lousy definition of "technical Subreddit", check
      out the <a href="{{ url_for('about') }}">About</a> page. If you'd like
      to suggest a Subreddit, category, or other improvement see the
      <a href="{{ url_for('suggest') }}">Suggest</a> page.
    </p>
    <br>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h5>Subreddit Category Index</h5>
    <table class="table">
      <tr>
        <th>Index</th>
        <th>Description</th>
      </tr>
      {% for slug, sr_dict in sr_categories.items() %}
      <tr>
        <td>
          <a href="{{ url_for('subreddit-category', subreddit_category=slug)
              }}">{{ sr_dict['human_name'] }}</a>
        </td>
        <td>
          {{ sr_dict['description'] }}
        </td>
      </tr>
      {% endfor %}
    </table>
    </div>
</div>
{% endblock %}
